@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    background-color: #d1efde67 !important;
    overflow-x: hidden;
}
header{
    background-color: #1C9679;
    width: 101.2%;
    height: 80px;
    position: relative;
    left: -10px;
    top: -8px;
    color: white;
    display: flex;
    align-items: center;
}
.name {
    display: flex;
}
.name a{
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    position: relative;
    left: 20px;
    color: white;
    margin-top: 12px;
    text-decoration: none;
}
.head-bar{
  margin-top: 17px;
  display: flex;
  height: 50px;
}
.head-bar #biri{
  background-color: #db554300;
  border: none;
  margin-top: -1px;
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: white;
  margin-left: 25px;
}
.carrinho{
  position: relative;
  left: 9px;
  background-color: #00000000 !important;
  border: none;
  color: white;
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
}
.carrinho i{
  font-size: 25px;
}
#nomeUsuarioDiv{
  border: none;
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: white;
  background-color: #1c967900;
  margin-left: 12px;
  margin-top: -1px;
}
#nomeUsuarioDiv:hover{
  color: rgb(218, 218, 218);
}
.head-bar button i {
  margin-left: 5px !important;
}
.head-bar #biri:hover{
  color: rgb(218, 218, 218);
}
.name img{
    width: 70px;
    height:50px;
}
#face{
    margin-top: 13px;
    margin-left: 35px;
    transform: rotate(5deg);
}
#flower{
    position: relative;
    left: 40px;
    top: 9px;
}
.head-bar{
    position: relative;
    left: 54%;
}
.head-bar a{
    color: white;
    text-decoration: none;
    margin-left:25px;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.head-bar a:hover{
  color: rgb(218, 218, 218);
} 
.head-bar button:hover{
  color: rgb(218, 218, 218);
} 
.head-bar a i{
    margin-left: 3px;
    font-size: 26px;
}
.head-bar .bi-person-circle{
  margin-left: 2px;
  font-size: 26px;
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-top: 65px;
    height: 200px;
    box-shadow: -4px 8px 5px rgb(171, 171, 171);
}
.container img{
   width: 102%;
   max-height: 100%;
   position: relative;
   left: -14px;
}
.explorer{
    width: 45%;
    height: 200px;
    margin-top: 30px;
    margin-left: 26.5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.cont{
    width: 190px;
    height: 70px;
    border: 0.5px solid ;
    border-radius: 12px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    background-color: #efefef;
}
.cont a{
    color: black;
    text-decoration: none;
}
.cont i{
    margin-left: 4px;
    color: #DB5543;
    font-size: 20px;
}
.offcanvas-start{
  height: 720px !important;
}
.offcanvas-final{
  width: 100%;
  height: 65px;
  background-color: #1C9679;
  text-align: center;
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}
  .offcanvas-final p{
    margin-top: 3px;
  }
.offcanvas-header{
  background-color: #1C9679;
  height: 70px;
}
.offcanvas-header .btn-close{
  background-color: white;
}
.offcanvas-header #log{
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  position: absolute;
  left: 155px;
  top: 2px;
}
.offcanvas-header #cad{
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  position: absolute;
  left: 130px;
  top: 2px;
}
#loginForm{
  width: 85%;
  margin-left: 5%;
  height: 300px;
  box-shadow: 5px -5px 20px rgb(169, 169, 169);
  border-radius: 8px;
  margin-top: 95px;
  text-align: center;
}
#loginForm :nth-child(1){
  margin-top: 40px;
}
#loginForm input{
  border-radius: 6px;
  border: 0.5px solid ;
  margin-top: 30px;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(45, 45, 45);
}
#loginForm button{
  margin-top: 35px;
  width: 200px;
  border: 0.5px solid;
  border-radius: 5px;
  height: 35px;
  background-color: #1C9679;
  color: black;
  border: none;
}
#cadastroForm{
  width: 85%;
  margin-left: 5%;
  height: 390px;
  box-shadow: 5px -5px 20px rgb(169, 169, 169);
  border-radius: 8px;
  margin-top: 70px;
  text-align: center;
}
#cadastroForm :nth-child(1){
  margin-top: 40px;
}
#cadastroForm input{
  border-radius: 6px;
  border: 0.5px solid ;
  margin-top: 20px;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(45, 45, 45);
}
#cadastroForm button{
  margin-top: 35px;
  width: 200px;
  border: 0.5px solid;
  border-radius: 5px;
  height: 35px;
  background-color: #1C9679;
  color: black;
  border: none;
}
#cadastroForm .returna{
  position: relative;
  top: 20px !important;
}
#loginForm p{
  font-size: 15px;
  margin-top: 15px;
}
.footerAnonimo{
  position: relative;
  top: 140px;
}
footer{
    background-color: #1C9679;
    width: 101.3%;
    height: 290px;
    margin-top: 80px;
    position: relative;
    display: flex;
    left: -8px;
    bottom: 0px;
  }
  .foHelp{
    width: 100%;
    height: 285px;
    display: flex;
    margin-left: 80px !important;
  }
  .foHelp:nth-child(1){
    margin-left: 30px;
  }
  .fac{
    color: #fff;
    margin-left: 60px;
    margin-top: 35px;
    width: auto;
    height: auto;
    display:flex;
    flex-direction: column;
  }
  .fac :nth-child(2){
    margin-top: 8px;
  }
  .fac p{
    font-size: 15px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .fac a{
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
  }
  .fac a:hover{
    color: rgb(218, 218, 218);
  }
  .fac .sub{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .fac .second{
    margin-top: 17px;
  }
  .fac .atd{
    margin-top: 10px;
  }
  .atd{
    color: #fff;
    background-color: rgb(38, 37, 37);
  }
  .fic{
    color: #fff;
    margin-left: 60px;
    margin-top: 20px;
    width: auto;
    height: auto;
    display:flex;
    flex-direction: column;
  }
  .fic p {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 13px;
  }
  .fic .preto{
    color: black;
  }
  .fic form{
    margin-top: 10px;
  }
  .fic form input{
    border: 0.5px;
    border-radius: 3px;
  }
  .fic form :nth-child(2){
    width: 80px;

  }
  #sub02{
    margin-top: 40px;
  }
  #sub02 p{
    color: black;
  }
  #sub02 .mae{
    width: 300px;
    height: 80px;
    display: flex;
    margin-top: 20px;
  }
  #sub02 .mae .filho{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 5px;
    
  }
  #sub02 .mae .filho img{
    width: 30px;
    height: 30px;
  }
  #bodyCanva {
    display: flex;
    justify-content: center;
  }
  #bodyCanva figure{
    position: absolute;
    top: 130px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 3px 3px 2px rgb(202, 202, 202);
  }
  #bodyCanva figure img{
    width: 100%;
    height: 100%;
  }
  .dados{
    margin-top: 235px;
    display: flex;
  }
  .dados label {
    margin-top: 10px;
  }
  .dados label, .espaco{
    margin-left: 5px;
  }
  .espaco{
    border: 1px solid;
    width: 175px;
    height: 30px;
    margin-top: 5px;
    background-color: #d1efde3f ;
    border: 1px solid rgb(95, 95, 95);
    padding: 3px;
    border-radius: 2px;
  }
  .espaco p{
    font-size: 15px;
  }
  #btn-senha{
    position: absolute;
    bottom: 260px;
    left: 350px;
    font-size: 22px;
  }
  .mae2{
    margin-left: 5px;
  }
  #saiAgr{
    position: relative;
    bottom: 50px;
    left: 35%;
    color: #DB5543;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .container2{
  height:auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: none;
  width:550px;
  margin-left: 100px;
  margin-top: 50px;
   }
  .container2 button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  height: auto;
  width: 200px;
  cursor: pointer;
  background-color: #ffffff00;
  color: #000000;
  border: none;
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  }
  .container2 button:hover{
    text-decoration: underline;
  }
  .container2 h2{
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 43px;
    margin-left: 195px;
     margin-top: -20px;
  }
  .sulMain, .CentroMain, .NorteMain{
    text-align: center;
    display: flex;
  }
  .america {
    margin-left: 180px;
    text-align: center; 
    padding: 10px;
    width: 400px;
    height: 300px;
  }  
  .america h2{
      font-family: "Jomhuria", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 43px;
      margin-top: 15px;
  }  
  .america figure{
      width: 300px;
      height: 400px;
      border: 4px solid #000000;
      border-radius: 12px;
      padding: 20px;
      margin-left: 40px;
      margin-top: 25px;
  }
  .america  figure img{
      max-width: 100%;
      max-height: 100%;
  }
  #buttonsContainer{
      margin-top: 20px;
  }
  #Belize{
      position: relative;
      left: -112px;
  }
  #Panama{
      position: relative;
      left: -5px;
  }
  #centrao{
      height: 55%;
      margin-top: 25%;
  }
  #nortao{
      margin-top: 30px;
  }
  .altera{
      text-align: left;
      margin-left: 70px;
  }
  #Canada{
      position: relative;
      top: -25px;
  }
  .container5{
      display: flex;
      justify-content: center;
  } 
  #countryName{
    position: absolute;
    top: -50px;
    left: -385px;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  #countryInfo{
    display: flex;
    width: 45%;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    height: 285px;
    position: relative;
    top: 100px;
    left: 270px;
  }
  #flagSvg{
    position: absolute;
    top: 50px;
    left: -500px;
    max-width: 800px;
    height: 200px;
  }
  #countryInfo :nth-child(10) {
    position: relative;
    top: -55px;
  }
  .voltapag{
    position: absolute;
    left: 35px;
    top: 100px;
    background-color: #1C9679;
    color: #ffffff;
    border-radius: 6px;
    width: 90px;
    height: 35px;
    border: none;
  }
  .voltapag i{
    margin-right: 5px;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif !important;
  }
  .voltapag:hover, .voltapag i:hover{
    color: black;
  }
  .carousel-item{
    width: 85% !important;
    height: 360px;
  }
  .carousel-item img{
    max-width: 100%;
    max-height: 100%;
  }
  .carousel{
    margin-left: 13.5% !important; 
    margin-top: 200px;
    margin-bottom: 50px;
  }
  .carousel img{
    border-radius: 5px;
  }
  .carousel-control-next{
    position: relative;
    left: 70%;
  }
  .carousel-control-prev{
    position: relative;
    right: -200px !important;
  }
  .carousel-indicators{
    position: relative;
    left: -160px !important;
    bottom: -10px !important;
  }
  .carousel-indicators button{
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    margin-left: 5px !important;
  }
  #map {
    width: 32% !important;
    height: 420px !important;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 6px;
    border: none;
    position: relative;
    top: -450px;
    left: 56%;
}
#cart {
    list-style-type: none;
    padding: 0;
    width: 300px;
}
.mapService{
  height: 600px;
}
.mapService h1{
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
}
#booking-form select {
  width: 260px;
}
#booking-form{
  margin-left: 24%;
  margin-top: 50px;
}
#booking-form input, #booking-form select{
  border-radius: 6px;
  border: 0.5px solid ;
  margin-top: 5px;
  width: 320px;
  height: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(45, 45, 45);
}
#booking-form select option{
  width: 200px !important;
}
#booking-form select{
  height: 35px;
}
#booking-form label {
  margin-top: 15px;
}
#booking-form button{
  margin-top: 35px;
  width: 320px;
  border: 0.5px solid;
  border-radius: 5px;
  height: 35px;
  background-color: #1C9679;
  color: black;
  border: none;
}
#staticBackdrop .btn-close{
  position: absolute;
  float: left;
}
#staticBackdrop .cad{
  left: 0;
}
.linka:hover{
  color: #232323 !important;
}
.offcanvas-final a{
  color: #000000;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
.offcanvas-final a:hover{
  color: #4e4e4e !important;
}

#reservasContainer{
  margin-left: 10px;
}
#ticket{
  width: 60px;
  height: auto;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ticket i{
  font-size: 25px;
  margin-top: -65px;
  color: #0a6bb0;
}
#front{
  margin-top: -45px;
}
.progres{
  width: 45%;
  margin-left: 27.5%;
  border-top: 2px solid   #0a6bb0;
  border-bottom: 2px solid #0a6bb0;
  height: 16px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.progres img{
  width: 66px;
  height: 66px;
  position: relative;
  top: -28px;
  transform: rotate(-30deg);
}
.progres i{
  position: absolute;
  right: 392px;
  font-size: 32px;
  top: 204px;
  color: #0a6bb0;
}
.footerCheckin{
  margin-top: 125px;
}
.reserva {
  border-bottom: 1px solid;
  margin-top: -35px;
}
.reserva i{
  position: relative;
  top: 80px;
  left: -15px;
}
.reserva :nth-child(2){
  margin-left: 55px;
}
.reserva :nth-child(3){
  margin-left: 55px;
}
.reserva :nth-child(4){
  margin-left: 55px;
}
.reserva :nth-child(5){
  margin-left: 55px;  
}
.reserva :nth-child(6){
  margin-left: 55px;
}
.limpa a {
  color: #DB5543;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: relative;
  top: -40px;
  left: 125px;
}
#cartBadge{
  position: relative;
  top: 4px !important;
  left: 101.5% !important;
  background-color: #145f4d !important;
}